body {
  background-color: antiquewhite;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

#app > * {
  flex-basis: 33%;
  flex-grow: 1;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: darkslategray
}

.card {
  margin: 10px;
  max-width: 30em;
  max-height: 50em;
}

.pets-all{
  margin-right: 5px;
  background-color: lightgray;
  border-radius: 10px;
  border: 0px solid;
  width: 60px;
  height: 40px;
  color: darkslategray;
  border: 2px solid darkslategray;
}

.pets-cats{
  margin-left: 5px;
  background-color: lightpink;
  border-radius: 10px;
  border: 0px solid;
  width: 60px;
  height: 40px;
  color: darkslategray;
  border: 2px solid darkslategray;
}

.pets-dogs{
  margin-left: 5px;
  margin-right: 5px;
  background-color: lightblue;
  border-radius: 10px;
  border: 0px solid;
  width: 60px;
  height: 40px;
  color: darkslategray;
  border: 2px solid darkslategray;
}

.pets-dino{
  margin-left: 5px;
  background-color: lightgreen;
  border-radius: 10px;
  border: 0px solid;
  width: 60px;
  height: 40px;
  color: darkslategray;
  border: 2px solid darkslategray;
}

/* .form{
margin-left: 200px;
margin-right: 200px;
} */

.dog {
  background-color: lightblue;
  margin: 10px;
  max-width: 25em;
  max-height: 50em;
  border: 2px solid darkslategray;
  border-radius: 40px;
}

.cat {
  background-color: lightpink;
  margin: 10px;
  max-width: 25em;
  max-height: 50em;
  border: 2px solid darkslategray;
  border-radius: 40px;
}

.dino {
  background-color: lightgreen;
  margin: 10px;
  max-width: 25em;
  max-height: 50em;
  border: 2px solid darkslategray;
  border-radius: 40px;
}

.form-button {
  margin-left: 5px;
  background-color: lightcoral;
  border-radius: 10px;
  border: 0px solid;
  width: 120px;
  height: 40px;
  color: darkslategray;
  border: 2px solid darkslategray;
}

h1 {
  font-family: 'Caveat Brush', cursive;
  display: flex;
  justify-content: center;
  color: rgb(231, 126, 94);
  font-size: 150px;
  flex-wrap: nowrap;
  margin-bottom: 0px;
}

.header {
  background-color: rgb(196, 242, 242);
  height: 220px;
  border: 2px solid darkslategray;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  color: darkslategrey;
  font-size: large;
  font-style: italic;
  flex-wrap: nowrap;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-title {
  font-family: 'Caveat Brush', cursive;
  color: darkslategrey;
  font-size: medium;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.card-text {
  font-family: 'Quicksand', sans-serif;
  color: darkslategrey;
  font-size: medium;
  font-weight: 900;
}

.card-text-head {
  font-family: 'Quicksand', sans-serif;
  color: darkslategrey;
  font-size: medium;
  margin-left: 30px;
  font-weight: 4000;
}

/* .card-img-top {
  border-radius: 40px 40px 0 0;
} */


.delete-div-cat {
  border: 0px;
  font-weight: bold;
  font-size: medium;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.delete-div-cat .delete-button {
  background-color: lightpink;
  color: darkslategrey;
  border: .5px solid darkslategray;
  box-shadow: 2px 2px darkslategray;
}

.delete-div-dog {
  border: 0px;
  font-weight: bold;
  font-size: medium;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.delete-div-dog .delete-button {
  background-color: lightblue;
  color: darkslategrey;
  border: .5px solid darkslategray;
  box-shadow: 2px 2px darkslategray;
}

.delete-div-dino {
  border: 0px;
  font-weight: bold;
  font-size: medium;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.delete-div-dino .delete-button {
  background-color: lightgreen;
  color: darkslategrey;
  border: .5px solid darkslategray;
  box-shadow: 2px 2px darkslategray;
}




.card-body {
  margin-bottom: 30px;
}
