body {
  background-color: antiquewhite;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

#app > * {
  flex-basis: 33%;
  flex-grow: 1;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: darkslategray
}

.card {
  margin: 10px;
  max-width: 30em;
  max-height: 50em;
}

.pets-all{
  margin-right: 5px;
  background-color: lightgray;
  border-radius: 10px;
  border: 0px solid;
  width: 60px;
  height: 40px;
  color: darkslategray
}

.pets-cats{
  margin-left: 5px;
  background-color: lightpink;
  border-radius: 10px;
  border: 0px solid;
  width: 60px;
  height: 40px;
  color: darkslategray
}

.pets-dogs{
  margin-left: 5px;
  margin-right: 5px;
  background-color: lightblue;
  border-radius: 10px;
  border: 0px solid;
  width: 60px;
  height: 40px;
  color: darkslategray
}

.pets-dino{
  margin-left: 5px;
  background-color: lightgreen;
  border-radius: 10px;
  border: 0px solid;
  width: 60px;
  height: 40px;
  color: darkslategray
}

.form{
margin-left: 200px;
margin-right: 200px;
}

.dog {
  background-color: lightblue;
  margin: 10px;
  max-width: 30em;
  max-height: 50em;
}

.cat {
  background-color: lightpink;
  margin: 10px;
  max-width: 30em;
  max-height: 50em;
}

.dino {
  background-color: lightgreen;
  margin: 10px;
  max-width: 30em;
  max-height: 50em;
}
